* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e65c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
 

}
pre {
  padding: 5px;
  width: 300px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
  margin: 0;
  
}

form{
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  z-index: -1;
  position: absolute;
  top:168px;
}
.formulario {
  margin-top: 10px;
  position: relative;
  
  
}